@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

/* pallete */
/* https://colorhunt.co/palette/6499e99eddffa6f6ffbefff7 */

/* Global Attribute */
* {
    font-family: 'Poppins', sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

/* Navbar */
.logo {
    display: flex;
    justify-content: center;
    padding: 20px 20px;
}

.logo h5 {
    display: flex;
    align-items: center;
    color: white;
    font-weight: bold;
    margin: 0;
    padding-left: 5px;
    font-size: 18px;
}

.icon {
    margin: 0;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
}

.nav {
    position: fixed;
    display: flex;
    justify-content: space-between;
    background-color: #6499E9;
    width: 100%;
}

.nav ul {
    list-style-type: none;
    margin: 0;
    padding: 10px 0;
    overflow: hidden;
}

.nav li {
    float: left;
}

.nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 20px;
    text-decoration: none;
}

.nav li a:hover {
    text-decoration: underline;
}

/* Main page content */
.main-page {
    height: 100vh;
    background-color: #9EDDFF;
}

.home {
    display: flex;
    justify-content: center;
    padding-top: 300px;
}

.home img {
    width: 150px;
    height: 150px;
    padding-right: 50px;
    display: flex;
    align-items: center;
}

.home h2 {
    display: flex;
    align-items: top;
    color: #FAF9F6;
    text-shadow: 0.5px 0.5px #000;
    font-weight: bold;
    width: 500px;
    margin: 0;
}

/* About Us Content */
.about-us {
    height: 180vh;
    background-color: #A6F6FF;
}

.about-us-title {
    display: flex;
    justify-content: center;
}

.about-us-title h1 {
    margin-top: 100px;
    color: black;
    font-size: 36px;
    text-shadow: 2px 2px #fff;
    margin-bottom: 50px;
}

.about-us-content {
    display: flex;
    justify-content: center;
    padding-bottom: 6em;
}

.content-1 {
    width: 100%;
    display: flex;
    justify-content: center;
    overflow: hidden;
    padding-bottom: 20px;
}

.content-1 p {
    max-width: 500px;
    justify-content: center;
    align-self: center;
    font-size: 20px;
    font-weight: 600;
    padding-right: 5em;
    text-shadow: 2px 2px #fff;
}

.content-1 img {
    border-radius: 25px;
    border: 2px solid white;
    box-shadow: 7px 7px 12px -3px rgba(0,0,0,0.5);
    -webkit-box-shadow: 7px 7px 12px -3px rgba(0,0,0,0.5);
    -moz-box-shadow: 7px 7px 12px -3px rgba(0,0,0,0.5);
    width: 20em;
}

.content-2 {
    width: 100%;
    display: flex;
    justify-content: center;
    overflow: hidden;
    padding-bottom: 20px;
}

.content-2 p {
    max-width: 500px;
    justify-content: center;
    align-self: center;
    font-size: 20px;
    font-weight: 600;
    padding-left: 5em;
    text-shadow: 2px 2px #fff;
}

.content-2 img {
    border-radius: 25px;
    border: 2px solid white;
    box-shadow: 7px 7px 12px -3px rgba(0,0,0,0.5);
    -webkit-box-shadow: 7px 7px 12px -3px rgba(0,0,0,0.5);
    -moz-box-shadow: 7px 7px 12px -3px rgba(0,0,0,0.5);
    width: 20em;
}

/* Footer Content */
.footer-container {
    padding-top: 13em;
    height: 30vh;
    background-color: #6499E9;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.footer-container p {
    display: flex;
    justify-content: center;
    padding-bottom: 5px;
}

.footer-link-container {
    display: flex;
    justify-content: center;
}

.footer-link-container ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.footer-link-container li a {
    display: block;
    color: white;
    text-align: center;
    padding: 10px;
    text-decoration: none;
}

.footer-link-container li a:hover {
    text-decoration: underline;
}
