@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

/* pallete */
/* https://colorhunt.co/palette/6499e99eddffa6f6ffbefff7 */

/* Global Attribute */
* {
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

body::-webkit-scrollbar {
    width: 0.7em;
}

body::-webkit-scrollbar-track {
    background-color: transparent;
}

body::-webkit-scrollbar-thumb {
    background-color: #BEFFF7;
    border-radius: 20px;
}

body {
    margin: 0;
    padding: 0;
}

/* Navbar */
.logo {
    display: flex;
    justify-content: center;
    padding: 20px 20px;
}

.logo h5 {
    display: flex;
    align-items: center;
    color: white;
    font-weight: bold;
    margin: 0;
    padding-left: 5px;
    font-size: 18px;
}

.icon {
    margin: 0;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
}

.nav {
    position: fixed;
    display: flex;
    justify-content: space-between;
    background-color: #6499E9;
    width: 100%;
}

.nav ul {
    list-style-type: none;
    margin: 0;
    padding: 10px 0;
    overflow: hidden;
}

.nav li {
    float: left;
}

.nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 20px;
    text-decoration: none;
}

.nav li a:hover {
    text-decoration: underline;
}

/* Main page content */
.main-page {
    height: 100vh;
    background-color: #9EDDFF;
}

.home {
    display: flex;
    justify-content: center;
    padding-top: 300px;
}

.home img {
    width: 150px;
    height: 150px;
    padding-right: 50px;
    display: flex;
    align-items: center;
}

.home h2 {
    display: flex;
    align-items: top;
    color: #FAF9F6;
    text-shadow: 0.5px 0.5px #000;
    font-weight: bold;
    width: 500px;
    margin: 0;
}

/* About Us Content */
.about-us {
    height: 180vh;
    background-color: #A6F6FF;
}

.about-us-title {
    display: flex;
    justify-content: center;
}

.about-us-title h1 {
    margin-top: 100px;
    color: black;
    font-size: 36px;
    text-shadow: 2px 2px #fff;
    margin-bottom: 50px;
}

.about-us-content {
    display: flex;
    justify-content: center;
    padding-bottom: 6em;
}

.content-1 {
    width: 100%;
    display: flex;
    justify-content: center;
    overflow: hidden;
    padding-bottom: 20px;
}

.content-1 p {
    max-width: 500px;
    justify-content: center;
    align-self: center;
    font-size: 20px;
    font-weight: 600;
    padding-right: 5em;
    text-shadow: 2px 2px #fff;
}

.content-1 img {
    border-radius: 25px;
    border: 2px solid white;
    box-shadow: 7px 7px 12px -3px rgba(0,0,0,0.5);
    -webkit-box-shadow: 7px 7px 12px -3px rgba(0,0,0,0.5);
    -moz-box-shadow: 7px 7px 12px -3px rgba(0,0,0,0.5);
    width: 20em;
}

.content-2 {
    width: 100%;
    display: flex;
    justify-content: center;
    overflow: hidden;
    padding-bottom: 20px;
}

.content-2 p {
    max-width: 500px;
    justify-content: center;
    align-self: center;
    font-size: 20px;
    font-weight: 600;
    padding-left: 5em;
    text-shadow: 2px 2px #fff;
}

.content-2 img {
    border-radius: 25px;
    border: 2px solid white;
    box-shadow: 7px 7px 12px -3px rgba(0,0,0,0.5);
    -webkit-box-shadow: 7px 7px 12px -3px rgba(0,0,0,0.5);
    -moz-box-shadow: 7px 7px 12px -3px rgba(0,0,0,0.5);
    width: 20em;
}

/* Footer Content */
.footer-container {
    padding-top: 13em;
    height: 30vh;
    background-color: #6499E9;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.footer-container p {
    display: flex;
    justify-content: center;
    padding-bottom: 5px;
}

.footer-link-container {
    display: flex;
    justify-content: center;
}

.footer-link-container ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.footer-link-container li a {
    display: block;
    color: white;
    text-align: center;
    padding: 10px;
    text-decoration: none;
}

.footer-link-container li a:hover {
    text-decoration: underline;
}

/* Phone Breakpoint */
@media all and (max-width: 480px) { 
    /* Navbar */
    .logo {
        display: flex;
        justify-content: center;
        padding: 22.5px 5px;
    }

    .logo h5 {
        display: flex;
        align-items: center;
        color: white;
        font-weight: bold;
        margin: 0;
        padding-left: 5px;
        font-size: 10px;
    }

    .icon {
        width: 20px;
        height: 20px;
    }

    .nav {
        height: 4em;
    }

    .nav ul {
        font-size: 10px;
        margin: 0;
        padding: 5px 0;
    }

    /* Main page content */
    .main-page {
        height: 70vh;
        background-color: #9EDDFF;
    }

    .home {
        display: flex;
        justify-content: center;
        align-self: center;
    }
    
    .home h2 {
        width: 150px;
        font-size: 12px;
    }

    .home img {
        width: 100px;
        height: 100px;
        display: flex;
        align-self: center;
    }

    /* About Us Content */
    .about-us {
        height: 89vh;
        background-color: #A6F6FF;
    }

    .about-us-title {
        display: flex;
        justify-content: center;
    }

    .about-us-title h1 {
        font-size: 24px;
    }

    .about-us-content {
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding-bottom: 6.5em;
    }

    .content-1 p {
        max-width: 200px;
        font-size: 10px;
        padding-right: 5em;
    }

    .content-1 img {
        display: flex;
        align-self: center;
        height: 100px;
        width: 100px;
    }

    .content-2 p {
        max-width: 200px;
        font-size: 10px;
        padding-left: 5em;
    }

    .content-2 img {
        display: flex;
        align-self: center;
        height: 100px;
        width: 100px;
    }

    /* Footer Content */
    .footer-container {
        font-size: 12px;
        padding-top: 15px;
        height: 30vh;
        background-color: #6499E9;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .footer-link-container {
        font-size: 12px;
    }
}

/* Tablet Landscape Breakpoint */
@media all and (min-width: 768px) and (max-width: 1024px) {
    /* Home page Content */
    .main-page {
        height: 70vh;
    }

    /* About Us Content */
    .about-us {
        height: 115vh;
    }

    .about-us-title h1 {
        font-size: 32px;
    }

    .about-us-content {
        padding-bottom: 6.5em;
    }

    .content-1 p {
        max-width: 400px;
        font-size: 20px;
        padding-right: 2em;
    }

    .content-1 img {
        display: flex;
        align-self: center;
        height: 210px;
        width: 210px;
    }

    .content-2 p {
        max-width: 400px;
        font-size: 20px;
        padding-left: 2em;
    }

    .content-2 img {
        display: flex;
        align-self: center;
        height: 210px;
        width: 210px;
    }

    /* Footer Content */
    .footer-container {
        font-size: 14px;
        padding-top: 3px;
        height: 45vh;
        background-color: #6499E9;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .footer-link-container {
        font-size: 14px;
    }
}

/* Tablet Breakpoint */
@media all and (min-width: 480px) and (max-width: 768px) { 
    /* Navbar */
    .logo h5 {
        font-size: 12px;
    }

    .icon {
        width: 25px;
        height: 25px;
    }

    .nav ul {
        font-size: 12px;
        list-style-type: none;
        margin: 0;
        padding-top: 12px;
        padding-bottom: 10px;
        overflow: hidden;
    }

    .nav li {
        float: left;
    }

    .nav li a {
        display: block;
        color: white;
        text-align: center;
        padding: 10px;
        text-decoration: none;
    }

    .nav li a:hover {
        text-decoration: underline;
    }
    
    /* Main page content */
    .main-page {
        height: 65vh;
        background-color: #9EDDFF;
    }

    .home {
        display: flex;
        justify-content: center;
        padding-top: 200px;
    }

    .home img {
        width: 100px;
        height: 100px;
        padding-right: 50px;
        display: flex;
        align-self: center;
    }

    .home h2 {
        display: flex;
        align-items: top;
        color: #FAF9F6;
        text-shadow: 0.5px 0.5px #000;
        font-weight: bold;
        font-size: 16px;
        width: 350px;
        margin: 0;
    }

    /* About Us Content */
    .about-us {
        height: 133vh;
    }

    .about-us-title h1 {
        font-size: 24px;
    }

    .about-us-content {
        padding-bottom: 1.5em;
    }

    .content-1 p {
        max-width: 250px;
        font-size: 14px;
        padding-right: 2em;
    }

    .content-1 img {
        display: flex;
        align-self: center;
        height: 150px;
        width: 150px;
    }

    .content-2 p {
        max-width: 250px;
        font-size: 14px;
        padding-right: 2em;
    }

    .content-2 img {
        display: flex;
        align-self: center;
        height: 150px;
        width: 150px;
    }

    /* Footer Content */
    .footer-container {
        font-size: 10px;
        padding-top: 8em;
        height: 25vh;
        background-color: #6499E9;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .footer-link-container {
        font-size: 10px;
    }
}